.column {
    /* float: left;
    width: 33.33%;
    padding: 5px; */
    border: 1px solid black;
   
  }
  
  /* Clearfix (clear floats) */
  /* .row::after {
    content: "";
    clear: both;
    display: table;
   
  } */
  .review-div{
      display: grid;
      grid-template-columns: repeat(3,1fr);
      grid-gap: 10px;
  }